@media only screen and (min-width: 1900px) and (max-width: 2199px) {
  #dropdown-menu {
    left: 136.5rem;
  }

  .bg-rectangle {
    height: 60rem;
    top: 27rem;
  }

  main {
    left: 30rem;
  }
}

@media only screen and (min-width: 1900px) {
  .heading-icon {
    width: 2.9rem;
    height: 2.9rem;
  }

  .heading span {
    font-size: 2.9rem;
  }

  .info {
    font-size: 2rem;
  }

  form {
    transform: translateY(-2rem);
    width: 71.5rem;
  }

  h1 {
    font-size: 4.6rem;
  }

  form input:not(.submit-btn) {
    height: 5rem;
    width: 63.5rem;
  }

  form input:not(.submit-btn),
  form textarea {
    font-size: 2rem;
  }

  form label {
    font-size: 2rem;
  }

  .submit-btn {
    font-size: 2rem;
    padding: 1.2rem 2.6rem;
  }
}

@media only screen and (min-width: 2200px) {
  nav {
    padding: 1.8rem 4.6rem;
  }

  .logo {
    width: 23rem;
    height: 6.3rem;
  }

  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.8rem;
  }

  #dropdown-menu {
    top: 10.3rem;
    left: 161rem;
  }

  .bg-rectangle {
    height: 62rem;
    top: 26rem;
  }

  main {
    left: 45rem;
  }

  .info {
    margin-bottom: 5.2rem;
  }

  .footer-img img {
    width: 7.4rem;
    height: 7.4rem;
  }

  .footer-text {
    font-size: 1.8rem;
  }
}
