@media only screen and (max-width: 819px) {
  #responsive-menu {
    left: 26rem;
  }

  .close-btn {
    transform: translateX(-5.8rem);
    margin-top: -2rem;
  }
}

@media only screen and (min-width: 820px) and (max-width: 870px) {
  #responsive-menu {
    left: 29rem;
  }
}

@media only screen and (min-width: 820px) and (max-width: 859px) {
  .close-btn {
    transform: translateX(-5.8rem);
  }
}

@media only screen and (max-width: 829px) {
  main {
    gap: 4.1rem;
    padding: 10.5rem 3.6rem;
    left: 3rem;
  }
}

@media only screen and (min-width: 830px) and (max-width: 859px) {
  main {
    gap: 4.6rem;
    padding: 10.5rem 4.1rem;
    left: 4rem;
  }
}

@media only screen and (min-width: 860px) and (max-width: 899px) {
  main {
    gap: 5.2rem;
    padding: 10.5rem 4.6rem;
    left: 6rem;
  }
}

@media only screen and (min-width: 860px) and (max-width: 889px) {
  #responsive-menu {
    left: 30rem;
  }

  .close-btn {
    margin-top: -2rem;
    transform: translateX(-3.6rem);
  }
}

@media only screen and (min-width: 900px) and (max-width: 980px) {
  main {
    gap: 4.6rem;
    padding: 10.5rem 4.1rem;
    left: 10rem;
  }
}

@media only screen and (max-width: 980px) {
  .bg-rectangle {
    height: 46rem;
    top: 27rem;
  }

  .heading {
    gap: 1.2rem;
    margin-left: -3rem;
  }

  .heading span {
    font-size: 1.8rem;
  }

  .heading-icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  .info {
    font-size: 1.4rem;
  }

  form {
    gap: 2.3rem;
    padding: 2.9rem;
    width: 46rem;
    transform: translateY(0rem);
  }

  form label,
  .submit-btn {
    font-size: 1.4rem;
  }

  .submit-btn {
    padding: 8px 1.8rem;
  }

  h1 {
    font-size: 2.9rem;
  }

  form input:not(.submit-btn),
  form textarea {
    width: 40rem;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 890px) and (max-width: 909px) {
  #responsive-menu {
    left: 32rem;
  }

  .close-btn {
    margin-top: -1.8rem;
    transform: translateX(-2.6rem);
  }
}

@media only screen and (min-width: 910px) and (max-width: 929px) {
  #responsive-menu {
    left: 34rem;
  }
}

@media only screen and (min-width: 930px) and (max-width: 949px) {
  #responsive-menu {
    left: 36rem;
  }
}

@media only screen and (min-width: 950px) and (max-width: 969px) {
  #responsive-menu {
    left: 38rem;
  }
}

@media only screen and (min-width: 970px) and (max-width: 989px) {
  #responsive-menu {
    left: 40rem;
  }
}

@media only screen and (min-width: 900px) and (max-width: 989px) {
  /* #responsive-menu {
    left: 40rem;
  }

  .close-btn {
    margin-top: -2rem;
    transform: translateX(-2.3rem);
  } */

  .bg-rectangle {
    height: 45rem;
    top: 28rem;
  }

  footer {
    margin: 21rem 15rem 0;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  nav {
    padding: 1rem 3.6rem;
  }

  .logo {
    width: 16rem;
    height: 4.5rem;
  }

  .footer-img img {
    width: 5.2rem;
    height: 5.2rem;
  }

  .footer-text {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1024px) {
  main {
    left: 2rem;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1009px) {
  #responsive-menu {
    left: 42rem;
  }
}

@media only screen and (min-width: 1010px) and (max-width: 1024px) {
  #responsive-menu {
    left: 44rem;
  }
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  #menu-icon {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    color: var(--primary-color);
  }

  #responsive-menu {
    top: 0;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1099px) {
  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.4rem;
  }

  #dropdown-menu {
    top: 6.75rem;
    left: 66rem;
    padding: 2rem 1.2rem;
  }

  .dd-link a:link,
  .dd-link a:visited {
    font-size: 1.4rem;
  }

  main {
    left: 4rem;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1099px) {
  main {
    gap: 6.6rem;
    padding: 10.5rem 6.6rem;
  }

  .heading {
    gap: 1.4rem;
    margin-left: -4rem;
  }

  .heading span {
    font-size: 2.3rem;
  }

  .heading-icon {
    width: 2.3rem;
    height: 2.3rem;
  }

  .info {
    font-size: 1.6rem;
  }

  form {
    gap: 2.3rem;
    width: 55rem;
    transform: translateY(-2rem);
  }

  h1 {
    font-size: 3.6rem;
  }

  form input:not(.submit-btn),
  form textarea {
    width: 47.5rem;
  }

  .submit-btn {
    padding: 8px 1.8rem;
  }

  footer {
    margin: 24rem 15rem 0;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1199px) {
  #dropdown-menu {
    left: 50rem;
  }

  main {
    top: 12rem;
    left: 4rem;
    gap: 7.4rem;
    padding: 10.5rem 6.6rem;
  }

  .bg-rectangle {
    top: 25rem;
  }

  form {
    transform: translateY(1rem);
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  #dropdown-menu {
    left: 60rem;
  }

  main {
    top: 13rem;
    left: 5rem;
    padding: 10.5rem 9.4rem;
    gap: 9.4rem;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1439px) {
  #dropdown-menu {
    left: 70rem;
  }

  main {
    top: 14rem;
    left: 6rem;
  }
}

@media only screen and (min-width: 1900px) and (max-width: 2199px) {
  #dropdown-menu {
    left: 136.5rem;
  }

  .bg-rectangle {
    height: 60rem;
    top: 27rem;
  }

  main {
    left: 30rem;
  }
}

@media only screen and (min-width: 1900px) {
  .heading-icon {
    width: 2.9rem;
    height: 2.9rem;
  }

  .heading span {
    font-size: 2.9rem;
  }

  .info {
    font-size: 2rem;
  }

  form {
    transform: translateY(-2rem);
    width: 71.5rem;
  }

  h1 {
    font-size: 4.6rem;
  }

  form input:not(.submit-btn) {
    height: 5rem;
    width: 63.5rem;
  }

  form input:not(.submit-btn),
  form textarea {
    font-size: 2rem;
  }

  form label {
    font-size: 2rem;
  }

  .submit-btn {
    font-size: 2rem;
    padding: 1.2rem 2.6rem;
  }
}

@media only screen and (min-width: 2200px) {
  nav {
    padding: 1.8rem 4.6rem;
  }

  .logo {
    width: 23rem;
    height: 6.3rem;
  }

  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.8rem;
  }

  #dropdown-menu {
    top: 10.3rem;
    left: 161rem;
  }

  .bg-rectangle {
    height: 62rem;
    top: 26rem;
  }

  main {
    left: 45rem;
  }

  .info {
    margin-bottom: 5.2rem;
  }

  .footer-img img {
    width: 7.4rem;
    height: 7.4rem;
  }

  .footer-text {
    font-size: 1.8rem;
  }
}
