/* 
Text/Margin Scale:
11 px  12px  14 px  16 px  18 px
20 px  23 px  26 px  29px 32px
36px  41px  46px  52px  58px
66px 74px  83px  94px  105px
119px  133px  150px  169px  190px
214px 240px 270px
*/

/* Default settings */

@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #0c4360;
  --secondary-color: #029347;
  --dark-primary: #04141d;
  --dark-secondary: #001f0f;
  --light-primary: #e7ecef;
  --light-secondary: #e6f0eb;
  --white: #f5f5f5;
  --text-color: #1f1f1f;
  --link-color: #0f54bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid var(--primary-color);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
  color: var(--text-color);
  overflow-x: hidden;
}

.heading,
h1 {
  font-family: serif;
}

.nav-link,
.about-link,
.dd-link,
.info,
.info-link,
form label,
form textarea,
.submit-btn,
.responsive-link,
.responsive-about,
.ab-menu-link {
  font-family: "Inter", sans-serif;
}

/* Nav */

.logo {
  width: 20rem;
  height: 5.5rem;
}

nav {
  background-color: rgba(245, 245, 245, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 1.2rem 4.6rem;
  z-index: 1000;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
}

nav ul {
  display: flex;
  gap: 3.6rem;
  list-style: none;
}

.nav-link a:link,
.nav-link a:visited,
.about-link {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 200ms ease-in-out;
}

.nav-link a:hover,
.nav-link a:active,
.about-link:hover,
.about-link:active {
  font-weight: 700;
}

.about-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.active {
  font-weight: 700;
}

.active:hover {
  color: var(--primary-color) !important;
}

#dropdown-menu {
  background-color: var(--white);
  position: absolute;
  top: 8.2rem;
  left: 89rem;
  z-index: 5000;
  padding: 2.6rem 1.6rem;
  width: 23rem;
  border-top: 3px solid var(--primary-color);
  display: none;
  transition: display 300ms ease-in-out;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

#dropdown-menu ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  text-align: center;
}

.dd-link a:link,
.dd-link a:visited {
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

.dd-link a:hover,
.dd-link a:active {
  color: var(--primary-color);
  text-decoration: underline;
}

.down-arrow-icon,
.up-arrow-icon {
  font-size: 1.6rem;
  color: var(--primary-color);
  transition: display 200ms ease-in-out;
}

.up-arrow-icon {
  display: none;
}

.not-visible {
  display: none !important;
}

.visible {
  display: block !important;
}

#menu-icon {
  display: none;
}

.close-btn {
  align-self: flex-start;
  color: var(--white);
  width: 3.2rem;
  height: 3.2rem;
  margin-top: -2.3rem;
  transform: translateX(-1.6rem);
  cursor: pointer;
}

#responsive-menu-container {
  display: none;
}

#responsive-menu {
  background-color: var(--primary-color);
  position: absolute;
  top: 12rem;
  left: 101.5rem;
  z-index: 4000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 58rem;
  height: 75rem;
  padding: 4.1rem 2.3rem 4.1rem 11.9rem;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.r-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.3rem;
  list-style-type: none;
  /* position: relative; */
}

.r-active {
  font-weight: 700 !important;
  text-decoration: none !important;
  cursor: pointer;
}

.responsive-link a:link,
.responsive-link a:visited,
.responsive-link {
  color: var(--white);
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  text-align: left;
}

.responsive-link a:hover,
.responsive-link a:active,
.responsive-link:hover,
.responsive-link:active {
  text-decoration: underline;
}

#up-arr {
  display: none;
}

.bg-rectangle {
  background-color: #81c9a3;
  width: 100vw;
  height: 50rem;
  z-index: -1;
  position: relative;
  top: 27rem;
}

/* Main Content */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10.5rem;
  gap: 15rem;
  z-index: 3;
  position: absolute;
  top: 15rem;
  left: 15rem;
}

.heading {
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
  /* margin-left: -4.5rem; */
}

.heading-icon {
  width: 2rem;
  height: 2rem;
  color: var(--dark-primary);
  display: none;
}

.heading span {
  font-size: 2.6rem;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Frank Ruhl Libre", serif;
}

.info {
  font-size: 1.8rem;
  margin-bottom: 3.6rem;
}

.info-link:link,
.info-link:visited {
  color: var(--text-color);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.info-link:hover,
.info-link:active {
  color: var(--link-color);
  opacity: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.6rem;
  background-color: #ffffff;
  border: 1px solid var(--text-color);
  padding: 3.6rem;
  width: 60rem;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-3rem);
}

h1 {
  font-size: 4.1rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-family: "Frank Ruhl Libre", serif;
}

.name-box,
.phone-box,
.email-box,
.message-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

form label {
  font-size: 1.8rem;
  /* font-weight: 500; */
}

form input:not(.submit-btn),
form textarea {
  width: 52.5rem;
}

form input:not(.submit-btn) {
  height: 4rem;
  padding: 0 1rem;
  border: 1px solid;
}

form input:not(.submit-btn),
form textarea {
  font-size: 1.6rem;
  background-color: var(--white);
}

form textarea {
  border: 1px solid;
  padding: 0.5rem 1rem;
}

.submit-btn {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: 1rem 2.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

/* Footer */

footer {
  margin: 27rem 15rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 3.6rem;
  position: relative;
  z-index: 2;
  top: 45rem;
}

.footer-img img {
  width: 6.6rem;
  height: 6.6rem;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: center;
  font-size: 1.6rem;
}

.numbers {
  color: var(--text-color) !important;
}

.footer-btm {
  width: 100vw;
  height: 3.6rem;
}
