@media only screen and (max-width: 899px) {
  nav {
    padding: 0.8rem 3.2rem;
  }

  .logo {
    width: 15rem;
    height: 4.2rem;
  }

  .footer-img img {
    width: 4.6rem;
    height: 4.6rem;
  }

  .footer-text {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 819px) {
  #responsive-menu {
    left: 30rem;
  }

  .close-btn {
    transform: translateX(-8.3rem);
  }

  .testimonials-container {
    width: 70rem;
  }

  .faq-container {
    width: 70rem;
  }

  .questions {
    width: 65rem;
  }
}

@media only screen and (min-width: 820px) and (max-width: 870px) {
  #responsive-menu {
    left: 32rem;
  }
}

@media only screen and (min-width: 820px) and (max-width: 930px) {
  .close-btn {
    transform: translateX(-7.4rem);
  }
}

@media only screen and (min-width: 820px) and (max-width: 899px) {
  .testimonials-container {
    width: 75rem;
  }

  .faq-container {
    width: 80rem;
  }

  .questions {
    width: 75rem;
  }
}

@media only screen and (min-width: 880px) and (max-width: 930px) {
  #responsive-menu {
    left: 38rem;
  }
}

@media only screen and (min-width: 900px) and (max-width: 989px) {
  .testimonials-container {
    width: 90rem;
  }

  .questions {
    width: 80rem;
  }
}

@media only screen and (min-width: 940px) and (max-width: 989px) {
  #responsive-menu {
    left: 40rem;
  }

  .close-btn {
    transform: translateX(-4.1rem);
  }
}

@media only screen and (max-width: 989px) {
  .close-btn {
    margin-top: -2rem;
  }

  .hero-section,
  .overlay {
    height: 60rem;
  }

  .heading,
  .cta:link,
  .cta:visited {
    margin-left: 8.3rem;
    transform: translateY(2rem);
  }

  h1 {
    font-size: 6.6rem;
  }

  .tagline {
    font-size: 2rem;
  }

  .cta:link,
  .cta:visited {
    font-size: 1.6rem;
    padding: 7px 1.8rem;
  }

  h2 {
    font-size: 2.3rem;
    margin-top: 1.4rem;
  }

  .services {
    gap: 3.6rem;
    margin: 15rem 3.6rem;
  }

  .key-icon,
  .person-icon,
  .layers-icon,
  .money-icon {
    width: 5.2rem;
    height: 5.2rem;
  }

  .service-title {
    font-size: 1.6rem;
  }

  .service-description,
  .service-page:link,
  .service-page:visited {
    font-size: 1.3rem;
  }

  .who-we-are-section {
    padding-right: 2.3rem;
    gap: 4.1rem;
  }

  .who-we-are-img {
    width: 45rem;
    height: 30rem;
  }

  .text-container {
    gap: 2.6rem;
  }

  .who-we-are-section h2 {
    font-size: 2.6rem;
  }

  .who-we-are-text {
    font-size: 1.4rem;
    line-height: 1.6;
  }

  .testimonials-container {
    gap: 4.1rem;
  }

  .row {
    gap: 3.2rem;
  }

  .testimonial {
    padding: 2.3rem;
    gap: 2.6rem;
  }

  .initials {
    width: 3.6rem;
    height: 3.6rem;
    font-size: 1.8rem;
  }

  .star {
    width: 1.6rem;
    height: 1.6rem;
  }

  .testimonial-text {
    font-size: 1.2rem;
  }

  .testimonial-author {
    font-size: 1.2rem;
  }

  .testimonials-page:link,
  .testimonials-page:visited {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 2.6rem;
  }

  .questions-box {
    padding: 1.6rem 1.6rem 1.8rem;
  }

  .questions span {
    font-size: 1.6rem;
  }

  .answer {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1099px) {
  .phone,
  .email:link,
  .email:visited {
    font-size: 1.4rem;
  }

  .ig-icon,
  .fb-icon {
    font-size: 1.8rem;
  }

  .section-heading {
    font-size: 1.4rem;
  }

  .initials {
    padding: 8px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  nav {
    padding: 1rem 3.6rem;
  }

  .logo {
    width: 16rem;
    height: 4.5rem;
  }

  .footer-img img {
    width: 5.2rem;
    height: 5.2rem;
  }

  .footer-text {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1024px) {
  #responsive-menu {
    left: 44.5rem;
  }

  .services {
    margin: 15rem 5.2rem;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1099px) {
  .hero-section,
  .overlay {
    height: 75rem;
  }

  h1 {
    font-size: 7.4rem;
  }

  .tagline {
    font-size: 2.3rem;
  }

  .cta:link,
  .cta:visited {
    font-size: 1.8rem;
    padding: 8px 2rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  .services {
    gap: 6.6rem;
  }

  .key-icon,
  .person-icon,
  .layers-icon,
  .money-icon {
    width: 5.8rem;
    height: 5.8rem;
  }

  .service-title {
    font-size: 1.8rem;
  }

  .service-description,
  .service-page:link,
  .service-page:visited {
    font-size: 1.4rem;
  }

  .who-we-are-section {
    padding: 2.6rem 2.6rem 2.6rem 1.6rem;
    gap: 6.6rem;
  }

  .who-we-are-img {
    width: 50rem;
    height: 35rem;
  }

  .text-container {
    width: 50rem;
    gap: 2.9rem;
  }

  .who-we-are-section h2 {
    font-size: 2.9rem;
  }

  .who-we-are-text {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .testimonials-container {
    width: 95rem;
    gap: 5.2rem;
  }

  .row {
    gap: 4.1rem;
  }

  .testimonial {
    padding: 2.6rem;
    gap: 2.9rem;
  }

  .initials {
    width: 4.1rem;
    height: 4.1rem;
    font-size: 2rem;
  }

  .star {
    width: 1.8rem;
    height: 1.8rem;
  }

  .testimonial-text {
    font-size: 1.4rem;
  }

  .testimonial-author {
    font-size: 1.2rem;
  }

  .testimonials-page:link,
  .testimonials-page:visited {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 2.9rem;
  }

  .questions-box {
    padding: 1.8rem 1.8rem 2rem;
  }

  .questions span {
    font-size: 1.8rem;
  }

  .answer {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  #menu-icon {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    color: var(--primary-color);
  }

  #responsive-menu {
    top: 3.6rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1099px) {
  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.4rem;
  }

  #dropdown-menu {
    top: 10.5rem;
    left: 53rem;
    padding: 2rem 1.2rem;
  }

  .dd-link a:link,
  .dd-link a:visited {
    font-size: 1.4rem;
  }

  .services {
    margin: 15rem 8.3rem;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1199px) {
  #dropdown-menu {
    left: 50rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  #dropdown-menu {
    left: 60rem;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1439px) {
  #dropdown-menu {
    left: 70rem;
  }
}

@media only screen and (min-width: 1900px) and (max-width: 2199px) {
  .contact-snapshot {
    gap: 32rem;
  }

  nav {
    padding: 1.2rem 6.6rem;
  }

  #dropdown-menu {
    left: 135rem;
  }

  .cta:link,
  .cta:visited {
    padding: 1.4rem 3.2rem;
    font-size: 2.6rem;
  }

  .heading,
  .cta:link,
  .cta:visited {
    margin-left: 17rem;
  }

  .who-we-are-section {
    gap: 19rem;
  }

  .faq-container,
  .questions {
    width: 110rem;
  }

  .answer {
    padding: 1.6rem 1.8rem 2rem;
  }
}

@media only screen and (min-width: 2200px) {
  .contact-snapshot {
    gap: 45rem;
  }

  nav {
    padding: 1.8rem 4.6rem;
  }

  .logo {
    width: 23rem;
    height: 6.3rem;
  }

  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.8rem;
  }

  #dropdown-menu {
    top: 14.3rem;
    left: 162rem;
  }

  .hero-section,
  .overlay {
    height: 95rem;
  }

  .hero-section {
    gap: 11.9rem;
  }

  .heading,
  .cta:link,
  .cta:visited {
    margin-left: 21.4rem;
  }

  .heading {
    gap: 1.2rem;
  }

  h1 {
    font-size: 10.5rem;
  }

  .tagline {
    font-size: 3.2rem;
  }

  .cta:link,
  .cta:visited {
    padding: 1.6rem 3.6rem;
    font-size: 2.9rem;
  }

  .section-heading,
  .testimonial-text,
  .service-description,
  .service-page:link,
  .service-page:visited,
  .answer,
  .footer-text,
  .phone,
  .email:link,
  .email:visited {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  .service-title,
  .ig-icon,
  .fb-icon {
    font-size: 2.3rem;
  }

  .who-we-are-section {
    gap: 24rem;
  }

  .testimonials-container {
    gap: 8.3rem;
  }

  .row {
    gap: 6.6rem;
  }

  .testimonial {
    padding: 4.1rem;
    gap: 3.6rem;
  }

  .testimonial-author {
    font-size: 1.6rem;
  }

  .star {
    width: 2.3rem;
    height: 2.3rem;
  }

  .initials {
    font-size: 2.9rem;
    padding: 1.2rem;
    width: 6.6rem;
    height: 6.6rem;
  }

  .testimonials-page:link,
  .testimonials-page:visited {
    font-size: 2rem;
  }

  .faq-container {
    gap: 10.5rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  .questions {
    width: 119rem;
  }

  .questions span {
    font-size: 2.3rem;
  }

  .questions-icon {
    width: 2rem;
    height: 2rem;
  }

  .footer-img img {
    width: 7.4rem;
    height: 7.4rem;
  }

  .footer-text {
    font-size: 1.8rem;
  }
}
