/* 
Text/Margin Scale:
11 px  12px  14 px  16 px  18 px
20 px  23 px  26 px  29px 32px
36px  41px  46px  52px  58px
66px 74px  83px  94px  105px
119px  133px  150px  169px  190px
214px 240px 270px
*/

@media only screen and (min-width: 400px) and (max-width: 419px) {
  #responsive-menu {
    left: 1rem;
  }
}

@media only screen and (min-width: 420px) and (max-width: 439px) {
  #responsive-menu {
    left: 3rem;
  }
}

@media only screen and (max-width: 429px) {
  .contact-snapshot {
    padding: 1rem 2.3rem;
    gap: 1.4rem;
  }

  .who-we-are-section {
    padding: 2.9rem 3.6rem 4.6rem;
  }

  .who-we-are-img,
  .testimonials-container,
  .faq-container,
  .questions {
    width: 35rem;
  }

  footer {
    margin: 10.5rem 8.3rem 3.6rem;
  }
}

@media only screen and (min-width: 430px) and (max-width: 439px) {
  .who-we-are-section {
    padding: 2.9rem 1.6rem 4.6rem;
  }
}

@media only screen and (min-width: 430px) and (max-width: 469px) {
  .contact-snapshot {
    gap: 1rem;
  }

  .who-we-are-img,
  .testimonials-container,
  .faq-container,
  .questions {
    width: 40rem;
  }
}

@media only screen and (min-width: 430px) and (max-width: 559px) {
  footer {
    margin: 10.5rem 10.5rem 3.6rem;
  }
}

@media only screen and (max-width: 440px) {
  h1 {
    font-size: 4.1rem;
  }
}

@media only screen and (min-width: 440px) and (max-width: 449px) {
  .who-we-are-section {
    padding: 2.9rem 2.3rem 4.6rem;
  }
}

@media only screen and (min-width: 440px) and (max-width: 459px) {
  #responsive-menu {
    left: 5rem;
  }
}

@media only screen and (min-width: 440px) and (max-width: 499px) {
  h1 {
    font-size: 4.6rem;
  }
}

@media only screen and (min-width: 450px) and (max-width: 469px) {
  .who-we-are-section {
    padding: 2.9rem 2.6rem 4.6rem;
  }
}

@media only screen and (min-width: 460px) and (max-width: 479px) {
  #responsive-menu {
    left: 7rem;
  }
}

@media only screen and (max-width: 469px) {
  .section-heading {
    font-size: 1.3rem;
  }

  h2:not(.who-we-are-section h2) {
    font-size: 1.8rem;
  }

  .services {
    row-gap: 7.4rem;
    column-gap: 3.2rem;
    margin: 10.5rem 2.6rem 15rem;
  }

  .key-icon,
  .person-icon,
  .layers-icon,
  .money-icon {
    width: 4.1rem;
    height: 4.1rem;
  }

  .service-title {
    font-size: 1.4rem;
  }

  .service-description,
  .service-page:link,
  .service-page:visited {
    font-size: 1.2rem;
  }

  .who-we-are-img {
    height: 25rem;
  }

  .text-container {
    width: fit-content;
    gap: 2.6rem;
  }

  .who-we-are-section h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 2.3rem;
  }

  .footer-img img {
    width: 3.6rem;
    height: 3.6rem;
  }

  .footer-text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 470px) and (max-width: 499px) {
  .contact-snapshot {
    gap: 5.8rem;
  }

  .who-we-are-section {
    padding: 2.9rem 1rem 4.6rem 1.6rem;
  }

  .text-container {
    padding: 0 1rem 0 1rem;
    width: 45rem;
  }
}

@media only screen and (min-width: 470px) and (max-width: 549px) {
  .who-we-are-img {
    width: 45rem;
    height: 30rem;
  }
}

@media only screen and (min-width: 470px) and (max-width: 599px) {
  .key-icon,
  .person-icon,
  .layers-icon,
  .money-icon {
    width: 4.6rem;
    height: 4.6rem;
  }

  .section-heading {
    font-size: 1.4rem;
  }

  h2:not(.who-we-are-section h2) {
    font-size: 2rem;
  }

  .footer-img img {
    width: 4.1rem;
    height: 4.1rem;
  }

  .footer-text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 470px) and (max-width: 619px) {
  .testimonials-container {
    width: 45rem;
  }

  .faq-container,
  .questions {
    width: 45rem;
  }
}

@media only screen and (min-width: 470px) and (max-width: 699px) {
  .services {
    row-gap: 8.3rem;
    column-gap: 4.6rem;
    margin: 10.5rem 3.6rem 15rem;
  }
}

@media only screen and (min-width: 470px) and (max-width: 989px) {
  .service-title {
    font-size: 1.6rem;
  }

  .service-description,
  .service-page:link,
  .service-page:visited {
    font-size: 1.3rem;
  }

  .who-we-are-section h2 {
    font-size: 2.6rem;
  }

  h3 {
    font-size: 2.6rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 499px) {
  #responsive-menu {
    left: 9rem;
  }
}

@media only screen and (max-width: 499px) {
  nav {
    padding: 0.6rem 2.6rem;
  }

  .logo {
    width: 11rem;
    height: 3.2rem;
  }

  .heading,
  .cta:link,
  .cta:visited {
    margin-left: 3.2rem;
  }

  .who-we-are-section {
    align-items: flex-start;
  }

  .faq-section {
    padding: 8.3rem 4.6rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 519px) {
  #responsive-menu {
    left: 10rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 519px) {
  .contact-snapshot {
    gap: 8.3rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 529px) {
  .heading,
  .cta:link,
  .cta:visited {
    margin-left: 4.1rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 549px) {
  h1 {
    font-size: 5.2rem;
  }

  .text-container {
    padding: 0 2rem 0 2rem;
    width: 50rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 599px) {
  nav {
    padding: 0.6rem 3.6rem;
  }

  .logo {
    width: 12rem;
    height: 3.4rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 614px) {
  .who-we-are-section {
    padding: 2.9rem 1rem 4.6rem 1rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 619px) {
  .testimonials-container {
    transform: translateX(1rem);
  }
}

@media only screen and (min-width: 520px) and (max-width: 599px) {
  .contact-snapshot {
    gap: 10.5rem;
  }
}

@media only screen and (min-width: 550px) and (max-width: 799px) {
  .service-box {
    padding: 0 2.6rem;
  }
}

@media only screen and (min-width: 530px) and (max-width: 699px) {
  .heading,
  .cta:link,
  .cta:visited {
    margin-left: 5.8rem;
  }
}

@media only screen and (max-width: 549px) {
  .service-box {
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 550px) and (max-width: 599px) {
  .who-we-are-img {
    width: 50rem;
    height: 35rem;
  }

  .text-container {
    padding: 0 2rem 0 2rem;
    width: 55rem;
  }
}

@media only screen and (min-width: 550px) and (max-width: 649px) {
  h1 {
    font-size: 5.8rem;
  }
}

@media only screen and (min-width: 520px) and (max-width: 539px) {
  #responsive-menu {
    left: 12rem;
  }
}

@media only screen and (min-width: 540px) and (max-width: 559px) {
  #responsive-menu {
    left: 14rem;
  }
}

@media only screen and (min-width: 560px) and (max-width: 579px) {
  #responsive-menu {
    left: 16rem;
  }
}

@media only screen and (min-width: 580px) and (max-width: 599px) {
  #responsive-menu {
    left: 18rem;
  }
}

@media only screen and (max-width: 599px) {
  .phone-icon,
  .phone,
  .email-icon,
  .email:link,
  .email:visited {
    font-size: 1.2rem;
  }

  .ig-icon,
  .fb-icon {
    font-size: 1.6rem;
  }

  #menu-icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  #responsive-menu {
    top: 3.4rem;
    width: 41rem;
    height: 55rem;
    padding: 3.2rem 2rem 3.2rem 7.4rem;
  }

  .responsive-link a:link,
  .responsive-link a:visited,
  .responsive-link {
    font-size: 1.6rem;
  }

  .hero-section,
  .overlay {
    height: 55rem;
  }

  .tagline {
    font-size: 1.8rem;
  }

  .cta:link,
  .cta:visited {
    font-size: 1.4rem;
    padding: 6px 1.6rem;
    transform: translateY(1rem);
  }

  .questions span {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 609px) {
  #responsive-menu {
    left: 15rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 610px) {
  .phone-icon,
  .phone,
  .email-icon,
  .email:link,
  .email:visited {
    font-size: 1.3rem;
  }

  .ig-icon,
  .fb-icon {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 619px) {
  .who-we-are-img {
    width: 55rem;
    height: 35rem;
  }

  .text-container {
    padding: 0 3.2rem 0 2.9rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 699px) {
  .contact-snapshot {
    gap: 11.9rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 780px) {
  #responsive-menu {
    top: 3.6rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 799px) {
  #responsive-menu {
    width: 46rem;
    padding: 4.1rem 2.3rem 4.1rem 9.4rem;
  }

  .responsive-link a:link,
  .responsive-link a:visited,
  .responsive-link {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  nav {
    padding: 0.8rem 4.1rem;
  }

  .logo {
    width: 15rem;
    height: 4.2rem;
  }

  .footer-img img {
    width: 4.6rem;
    height: 4.6rem;
  }

  .footer-text {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 989px) {
  #responsive-menu {
    height: 60rem;
  }

  .hero-section,
  .overlay {
    height: 60rem;
  }

  .tagline {
    font-size: 2rem;
  }

  .cta:link,
  .cta:visited {
    font-size: 1.6rem;
    padding: 7px 1.8rem;
    transform: translateY(2rem);
  }

  h2:not(.who-we-are-section h2) {
    font-size: 2.3rem;
  }

  .key-icon,
  .person-icon,
  .layers-icon,
  .money-icon {
    width: 5.2rem;
    height: 5.2rem;
  }

  .questions span {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #menu-icon {
    width: 3.6rem;
    height: 3.6rem;
  }
}

@media only screen and (min-width: 611px) and (max-width: 799px) {
  .phone-icon,
  .phone,
  .email-icon,
  .email:link,
  .email:visited {
    font-size: 1.4rem;
  }

  .ig-icon,
  .fb-icon {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 619px) {
  .who-we-are-text {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 610px) and (max-width: 619px) {
  #responsive-menu {
    left: 16rem;
  }
}

@media only screen and (min-width: 615px) and (max-width: 699px) {
  .who-we-are-section {
    padding: 2.9rem 1.6rem 4.6rem 2.9rem;
  }
}

@media only screen and (min-width: 620px) and (max-width: 649px) {
  .who-we-are-img {
    width: 55rem;
    height: 35rem;
  }

  .who-we-are-text {
    font-size: 1.4rem;
  }

  .text-container {
    padding: 0 1.6rem 0 2.9rem;
  }

  .testimonials-container {
    width: 55rem;
    transform: translateX(1rem);
  }

  .faq-container,
  .questions {
    width: 55rem;
  }
}

@media only screen and (min-width: 650px) and (max-width: 699px) {
  .who-we-are-img {
    width: 60rem;
    height: 40rem;
  }

  .who-we-are-text {
    font-size: 1.6rem;
  }

  .testimonials-container {
    width: 60rem;
    transform: translateX(0.8rem);
  }

  .faq-container,
  .questions {
    width: 60rem;
  }
}

@media only screen and (min-width: 620px) and (max-width: 629px) {
  #responsive-menu {
    left: 17rem;
  }
}

@media only screen and (min-width: 630px) and (max-width: 639px) {
  #responsive-menu {
    left: 18rem;
  }
}

@media only screen and (min-width: 640px) and (max-width: 649px) {
  #responsive-menu {
    left: 19rem;
  }
}

@media only screen and (min-width: 650px) and (max-width: 669px) {
  #responsive-menu {
    left: 20rem;
  }
}

@media only screen and (min-width: 650px) and (max-width: 989px) {
  h1 {
    font-size: 6.6rem;
  }
}

@media only screen and (min-width: 670px) and (max-width: 679px) {
  #responsive-menu {
    left: 21rem;
  }
}

@media only screen and (min-width: 680px) and (max-width: 689px) {
  #responsive-menu {
    left: 22rem;
  }
}

@media only screen and (min-width: 690px) and (max-width: 699px) {
  #responsive-menu {
    left: 24rem;
  }
}

@media only screen and (max-width: 699px) {
  .who-we-are-section {
    flex-direction: column;
    gap: 2.3rem;
  }

  .row {
    flex-direction: column;
  }

  .third-testimonial,
  .fourth-testimonial {
    display: none;
  }
}

@media only screen and (min-width: 700px) and (max-width: 719px) {
  .testimonials-container {
    width: 65rem;
  }
}

@media only screen and (min-width: 720px) and (max-width: 819px) {
  .testimonials-container {
    width: 70rem;
  }
}

@media only screen and (max-width: 799px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 700px) and (max-width: 799px) {
  .contact-snapshot {
    gap: 19rem;
  }

  .heading,
  .cta:link,
  .cta:visited {
    margin-left: 7.4rem;
  }

  .services {
    row-gap: 10.5rem;
    column-gap: 6.6rem;
  }

  .who-we-are-section {
    gap: 2.6rem;
    padding: 1rem 1.8rem 2.3rem 2.3rem;
  }

  .who-we-are-img {
    width: 30rem;
    height: 25rem;
  }

  .text-container {
    gap: 2.3rem;
    width: fit-content;
  }

  .who-we-are-text {
    font-size: 1.3rem;
    line-height: 1.6;
  }
}

@media only screen and (min-width: 700px) and (max-width: 989px) {
  .services {
    margin: 15rem 3.6rem;
  }
}

@media only screen and (min-width: 800px) {
  .heading,
  .cta:link,
  .cta:visited {
    margin-left: 8.3rem;
  }

  .services {
    gap: 3.6rem;
  }

  .who-we-are-section {
    padding-right: 2.3rem;
    gap: 4.1rem;
  }

  .who-we-are-img {
    width: 45rem;
    height: 30rem;
  }

  .text-container {
    gap: 2.6rem;
  }

  .who-we-are-text {
    font-size: 1.4rem;
    line-height: 1.6;
  }
}

@media only screen and (min-width: 700px) and (max-width: 719px) {
  #responsive-menu {
    left: 25rem;
  }
}

@media only screen and (min-width: 720px) and (max-width: 739px) {
  #responsive-menu {
    left: 27rem;
  }
}

@media only screen and (min-width: 740px) and (max-width: 759px) {
  #responsive-menu {
    left: 29rem;
  }
}
@media only screen and (min-width: 760px) and (max-width: 779px) {
  #responsive-menu {
    left: 31rem;
  }
}

@media only screen and (min-width: 780px) and (max-width: 789px) {
  #responsive-menu {
    left: 33rem;
  }
}

@media only screen and (min-width: 781px) and (max-width: 1024px) {
  #responsive-menu {
    top: 3.6rem;
  }
}

@media only screen and (min-width: 790px) and (max-width: 799px) {
  #responsive-menu {
    left: 34rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 819px) {
  #responsive-menu {
    left: 23rem;
  }

  .close-btn {
    transform: translateX(-2.3rem);
  }
}

@media only screen and (max-width: 899px) {
  .close-btn {
    margin-top: -2.3rem;
  }
}

@media only screen and (min-width: 700px) and (max-width: 819px) {
  .faq-container {
    width: 65rem;
  }

  .questions {
    width: 65rem;
  }
}

@media only screen and (min-width: 820px) and (max-width: 870px) {
  #responsive-menu {
    left: 32rem;
  }
}

@media only screen and (min-width: 820px) and (max-width: 930px) {
  .close-btn {
    transform: translateX(-7.4rem);
  }
}

@media only screen and (min-width: 820px) and (max-width: 899px) {
  .testimonials-container {
    width: 75rem;
  }

  .faq-container {
    width: 80rem;
  }

  .questions {
    width: 75rem;
  }
}

@media only screen and (min-width: 880px) and (max-width: 930px) {
  #responsive-menu {
    left: 38rem;
  }
}

@media only screen and (min-width: 900px) and (max-width: 919px) {
  .testimonials-container,
  .faq-container {
    width: 85rem;
  }
}

@media only screen and (min-width: 900px) and (max-width: 989px) {
  .close-btn {
    margin-top: -2rem;
  }

  .questions {
    width: 80rem;
  }
}

@media only screen and (min-width: 920px) and (max-width: 989px) {
  .testimonials-container {
    width: 90rem;
  }
}

@media only screen and (min-width: 940px) and (max-width: 989px) {
  #responsive-menu {
    left: 40rem;
  }

  .close-btn {
    transform: translateX(-4.1rem);
  }
}

@media only screen and (max-width: 989px) {
  .heading {
    transform: translateY(2rem);
  }

  h2:not(.who-we-are-section h2) {
    margin-top: 1.4rem;
  }

  .testimonials-container {
    gap: 4.1rem;
  }

  .row {
    gap: 3.2rem;
  }

  .testimonial {
    padding: 2.3rem;
    gap: 2.6rem;
  }

  .initials {
    width: 3.6rem;
    height: 3.6rem;
    font-size: 1.8rem;
  }

  .star {
    width: 1.6rem;
    height: 1.6rem;
  }

  .testimonial-text {
    font-size: 1.2rem;
  }

  .testimonial-author {
    font-size: 1.2rem;
  }

  .testimonials-page:link,
  .testimonials-page:visited {
    font-size: 1.4rem;
  }

  .questions-box {
    padding: 1.6rem 1.6rem 1.8rem;
  }

  .answer {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1099px) {
  .phone,
  .email:link,
  .email:visited {
    font-size: 1.4rem;
  }

  .ig-icon,
  .fb-icon {
    font-size: 1.8rem;
  }

  .section-heading {
    font-size: 1.4rem;
  }

  .initials {
    padding: 8px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  nav {
    padding: 1rem 3.6rem;
  }

  .logo {
    width: 16rem;
    height: 4.5rem;
  }

  .footer-img img {
    width: 5.2rem;
    height: 5.2rem;
  }

  .footer-text {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1024px) {
  #responsive-menu {
    left: 44.5rem;
  }

  .services {
    margin: 15rem 5.2rem;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1099px) {
  .hero-section,
  .overlay {
    height: 75rem;
  }

  h1 {
    font-size: 7.4rem;
  }

  .tagline {
    font-size: 2.3rem;
  }

  .cta:link,
  .cta:visited {
    font-size: 1.8rem;
    padding: 8px 2rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  .services {
    gap: 6.6rem;
  }

  .key-icon,
  .person-icon,
  .layers-icon,
  .money-icon {
    width: 5.8rem;
    height: 5.8rem;
  }

  .service-title {
    font-size: 1.8rem;
  }

  .service-description,
  .service-page:link,
  .service-page:visited {
    font-size: 1.4rem;
  }

  .who-we-are-section {
    padding: 2.6rem 2.6rem 2.6rem 1.6rem;
    gap: 6.6rem;
  }

  .who-we-are-img {
    width: 50rem;
    height: 35rem;
  }

  .text-container {
    width: 50rem;
    gap: 2.9rem;
  }

  .who-we-are-section h2 {
    font-size: 2.9rem;
  }

  .who-we-are-text {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .testimonials-container {
    width: 95rem;
    gap: 5.2rem;
  }

  .row {
    gap: 4.1rem;
  }

  .testimonial {
    padding: 2.6rem;
    gap: 2.9rem;
  }

  .initials {
    width: 4.1rem;
    height: 4.1rem;
    font-size: 2rem;
  }

  .star {
    width: 1.8rem;
    height: 1.8rem;
  }

  .testimonial-text {
    font-size: 1.4rem;
  }

  .testimonial-author {
    font-size: 1.2rem;
  }

  .testimonials-page:link,
  .testimonials-page:visited {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 2.9rem;
  }

  .questions-box {
    padding: 1.8rem 1.8rem 2rem;
  }

  .questions span {
    font-size: 1.8rem;
  }

  .answer {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  #menu-icon {
    display: block;
    color: var(--primary-color);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1099px) {
  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.4rem;
  }

  #dropdown-menu {
    top: 10.5rem;
    left: 53rem;
    padding: 2rem 1.2rem;
  }

  .dd-link a:link,
  .dd-link a:visited {
    font-size: 1.4rem;
  }

  .services {
    margin: 15rem 8.3rem;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1199px) {
  #dropdown-menu {
    left: 50rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  #dropdown-menu {
    left: 60rem;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1439px) {
  #dropdown-menu {
    left: 70rem;
  }
}

@media only screen and (min-width: 1900px) and (max-width: 2199px) {
  .contact-snapshot {
    gap: 32rem;
  }

  nav {
    padding: 1.2rem 6.6rem;
  }

  #dropdown-menu {
    left: 135rem;
  }

  .cta:link,
  .cta:visited {
    padding: 1.4rem 3.2rem;
    font-size: 2.6rem;
  }

  .heading,
  .cta:link,
  .cta:visited {
    margin-left: 17rem;
  }

  .who-we-are-section {
    gap: 19rem;
  }

  .faq-container,
  .questions {
    width: 110rem;
  }

  .answer {
    padding: 1.6rem 1.8rem 2rem;
  }
}

@media only screen and (min-width: 2200px) {
  .contact-snapshot {
    gap: 45rem;
  }

  nav {
    padding: 1.8rem 4.6rem;
  }

  .logo {
    width: 23rem;
    height: 6.3rem;
  }

  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.8rem;
  }

  #dropdown-menu {
    top: 14.3rem;
    left: 162rem;
  }

  .hero-section,
  .overlay {
    height: 95rem;
  }

  .hero-section {
    gap: 11.9rem;
  }

  .heading,
  .cta:link,
  .cta:visited {
    margin-left: 21.4rem;
  }

  .heading {
    gap: 1.2rem;
  }

  h1 {
    font-size: 10.5rem;
  }

  .tagline {
    font-size: 3.2rem;
  }

  .cta:link,
  .cta:visited {
    padding: 1.6rem 3.6rem;
    font-size: 2.9rem;
  }

  .section-heading,
  .testimonial-text,
  .service-description,
  .service-page:link,
  .service-page:visited,
  .answer,
  .footer-text,
  .phone,
  .email:link,
  .email:visited {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  .service-title,
  .ig-icon,
  .fb-icon {
    font-size: 2.3rem;
  }

  .who-we-are-section {
    gap: 24rem;
  }

  .testimonials-container {
    gap: 8.3rem;
  }

  .row {
    gap: 6.6rem;
  }

  .testimonial {
    padding: 4.1rem;
    gap: 3.6rem;
  }

  .testimonial-author {
    font-size: 1.6rem;
  }

  .star {
    width: 2.3rem;
    height: 2.3rem;
  }

  .initials {
    font-size: 2.9rem;
    padding: 1.2rem;
    width: 6.6rem;
    height: 6.6rem;
  }

  .testimonials-page:link,
  .testimonials-page:visited {
    font-size: 2rem;
  }

  .faq-container {
    gap: 10.5rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  .questions {
    width: 119rem;
  }

  .questions span {
    font-size: 2.3rem;
  }

  .questions-icon {
    width: 2rem;
    height: 2rem;
  }

  .footer-img img {
    width: 7.4rem;
    height: 7.4rem;
  }

  .footer-text {
    font-size: 1.8rem;
  }
}
