/* 
Text/Margin Scale:
11 px  12px  14 px  16 px  18 px
20 px  23 px  26 px  29px 32px
36px  41px  46px  52px  58px
66px 74px  83px  94px  105px
119px  133px  150px  169px  190px
214px 240px 270px
*/

/* Default settings */

@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #0c4360;
  --secondary-color: #029347;
  --dark-primary: #04141d;
  --dark-secondary: #001f0f;
  --light-primary: #e7ecef;
  --light-secondary: #e6f0eb;
  --white: #f5f5f5;
  --text-color: #1f1f1f;
  --link-color: #0f54bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid var(--primary-color);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
  color: var(--text-color);
  overflow-x: hidden;
}

section {
  width: 100vw;
  padding: 10.5rem 0;
}

.dd-link,
.footer-text,
.nav-link,
.about-link,
main,
.responsive-link,
.responsive-about,
.ab-menu-link {
  font-family: "Inter", sans-serif;
}

/* Nav */

.logo {
  width: 20rem;
  height: 5.5rem;
}

nav {
  background-color: rgba(245, 245, 245, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 1.2rem 4.6rem;
  z-index: 1000;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
}

nav ul {
  display: flex;
  gap: 3.6rem;
  list-style: none;
}

.nav-link a:link,
.nav-link a:visited,
.about-link {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 200ms ease-in-out;
}

.nav-link a:hover,
.nav-link a:active,
.about-link:hover,
.about-link:active {
  font-weight: 700;
}

.about-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.active {
  font-weight: 700;
}

.active:hover {
  color: var(--primary-color) !important;
}

ul .hidden-links {
  display: none;
}

#dropdown-menu {
  background-color: var(--white);
  position: absolute;
  top: 8.2rem;
  left: 93rem;
  z-index: 5000;
  padding: 2.6rem 1.6rem;
  width: 23rem;
  border-top: 2px solid var(--primary-color);
  display: none;
  transition: display 300ms ease-in-out;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

#dropdown-menu ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  text-align: center;
}

.dd-link a:link,
.dd-link a:visited {
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

.dd-link a:hover,
.dd-link a:active {
  color: var(--primary-color);
  text-decoration: underline;
}

.down-arrow-icon,
.up-arrow-icon {
  font-size: 1.6rem;
  color: var(--primary-color);
  transition: display 200ms ease-in-out;
}

.up-arrow-icon {
  display: none;
}

.not-visible {
  display: none !important;
}

.visible {
  display: block !important;
}

#menu-icon {
  display: none;
}

.close-btn {
  align-self: flex-start;
  color: var(--white);
  width: 3.2rem;
  height: 3.2rem;
  margin-top: -2.3rem;
  transform: translateX(-1.6rem);
  cursor: pointer;
}

#responsive-menu-container {
  display: none;
}

#responsive-menu {
  background-color: var(--primary-color);
  position: absolute;
  top: 12rem;
  left: 101.5rem;
  z-index: 4000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 58rem;
  height: 75rem;
  padding: 4.1rem 2.3rem 4.1rem 11.9rem;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.r-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.3rem;
  list-style-type: none;
  /* position: relative; */
}

.r-active {
  font-weight: 700 !important;
  text-decoration: none !important;
  cursor: pointer;
}

.responsive-link a:link,
.responsive-link a:visited,
.responsive-link {
  color: var(--white);
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  text-align: left;
}

.responsive-link a:hover,
.responsive-link a:active,
.responsive-link:hover,
.responsive-link:active {
  text-decoration: underline;
}

#up-arr {
  display: none;
}

/* Main */

main {
  width: 100vw;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100vw;
  z-index: 2;
}

.heading {
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.heading,
.overlay {
  height: 50rem;
}

.heading--escrow,
.heading--closing {
  background-position: top !important;
}

h1 {
  font-size: 5.2rem;
  color: var(--white);
  z-index: 5;
  font-family: "Frank Ruhl Libre", serif;
  text-align: center;
}

.tcs {
  width: 62rem;
}

.tas,
.cs {
  width: 30rem;
}

.eas {
  width: 40rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8.3rem;
  padding: 10.5rem 0 27rem;
}

.description {
  padding: 0 12rem;
}

.description ul,
.description p {
  font-size: 1.6rem;
  line-height: 2;
}

.description li {
  margin-bottom: 1.6rem;
}

.description p {
  margin-bottom: 3.6rem;
}

.transaction-coordinator-img {
  object-fit: cover;
  width: 55rem;
  height: 45rem;
  border: 1px solid var(--text-color);
}

.contact-btn {
  border: 2px solid transparent;
  padding: 1.1rem 2.6rem;
  background-color: var(--primary-color);
  transition: all 250ms ease-in-out;
}

.contact-btn a {
  color: var(--white);
  text-decoration: none;
  font-weight: 400;
  font-size: 2rem;
  font-family: serif;
}

.contact-btn:hover,
.contact-btn:active {
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.15);
}

/* Footer */

footer {
  margin: 0rem 15rem 3.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 3.6rem;
}

.footer-img img {
  width: 6.6rem;
  height: 6.6rem;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: center;
  font-size: 1.6rem;
}

.numbers {
  color: var(--text-color) !important;
}
