@media only screen and (max-width: 819px) {
  #responsive-menu {
    left: 30rem;
  }

  .close-btn {
    transform: translateX(-8.3rem);
  }
}

@media only screen and (max-width: 899px) {
  nav {
    padding: 0.8rem 3.2rem;
  }

  .logo {
    width: 15rem;
    height: 4.2rem;
  }

  .description {
    margin: 0 8.3rem;
  }

  .description ul,
  .description p {
    font-size: 1.3rem;
    line-height: 2;
  }

  .contact-btn {
    padding: 6px 1.8rem;
  }

  .contact-btn a {
    font-size: 1.8rem;
  }

  .footer-img img {
    width: 4.6rem;
    height: 4.6rem;
  }

  .footer-text {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 820px) and (max-width: 870px) {
  #responsive-menu {
    left: 32rem;
  }
}

@media only screen and (min-width: 820px) and (max-width: 930px) {
  .close-btn {
    transform: translateX(-7.4rem);
  }
}

@media only screen and (min-width: 880px) and (max-width: 930px) {
  #responsive-menu {
    left: 38rem;
  }
}

@media only screen and (min-width: 940px) and (max-width: 989px) {
  #responsive-menu {
    left: 40rem;
  }

  .close-btn {
    transform: translateX(-4.1rem);
  }
}

@media only screen and (min-width: 950px) and (max-width: 989px) {
  .close-btn {
    transform: translateX(-2.3rem);
  }
}

@media only screen and (max-width: 989px) {
  .close-btn {
    margin-top: -2rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1099px) {
  .heading,
  .overlay {
    height: 40rem;
  }

  h1 {
    font-size: 4.1rem;
  }

  .tcs {
    width: 50rem;
  }

  .tas {
    width: 30rem;
  }

  .cs,
  .eas {
    width: 35rem;
  }

  .main-content {
    gap: 9.4rem;
    margin: 10.5rem 0 19rem;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  nav {
    padding: 1rem 3.6rem;
  }

  .logo {
    width: 16rem;
    height: 4.5rem;
  }

  .description ul,
  .description p {
    font-size: 1.4rem;
    line-height: 2.3;
  }

  .contact-btn {
    padding: 8px 2rem;
  }

  .footer-img img {
    width: 5.2rem;
    height: 5.2rem;
  }

  .footer-text {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1024px) {
  #responsive-menu {
    left: 44.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  #menu-icon {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    color: var(--primary-color);
  }

  #responsive-menu {
    top: 0;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1099px) {
  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.4rem;
  }

  #dropdown-menu {
    top: 6.75rem;
    left: 55rem;
    padding: 2rem 1.2rem;
  }

  .dd-link a:link,
  .dd-link a:visited {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1199px) {
  #dropdown-menu {
    left: 50rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  #dropdown-menu {
    left: 60rem;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1439px) {
  #dropdown-menu {
    left: 70rem;
  }
}

@media only screen and (min-width: 1900px) and (max-width: 2199px) {
  nav {
    padding: 1.2rem 6.6rem;
  }

  #dropdown-menu {
    left: 134.5rem;
  }

  .heading {
    height: 55rem;
  }

  .overlay {
    height: 54.8rem;
  }

  p {
    font-size: 1.8rem;
  }

  .contact-btn {
    padding: 1.4rem 3.2rem;
  }

  .contact-btn a {
    font-size: 2.3rem;
  }
}

@media only screen and (min-width: 2200px) {
  nav {
    padding: 1.8rem 4.6rem;
  }

  .logo {
    width: 23rem;
    height: 6.3rem;
  }

  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.8rem;
  }

  #dropdown-menu {
    top: 10.2rem;
    left: 162rem;
  }

  .main-content {
    gap: 15rem;
  }

  .heading {
    height: 66rem;
  }

  .overlay {
    height: 65.8rem;
  }

  h1 {
    font-size: 6.6rem;
    line-height: 1.4;
  }

  .tcs {
    width: 74rem;
  }

  .cs {
    width: 66rem;
  }

  p {
    font-size: 2rem;
  }

  .contact-btn {
    padding: 1.6rem 3.6rem;
  }

  .contact-btn a {
    font-size: 2.6rem;
  }

  .footer-img img {
    width: 7.4rem;
    height: 7.4rem;
  }

  .footer-text {
    font-size: 1.8rem;
  }
}
