@media only screen and (min-width: 1900px) and (max-width: 2199px) {
  #dropdown-menu {
    left: 135.5rem;
  }

  h1 {
    font-size: 5.2rem;
  }

  .subheading {
    font-size: 2.3rem;
  }

  .contact-btn {
    padding: 1.4rem 3.2rem;
  }

  .contact-btn a {
    font-size: 2.3rem;
  }

  .testimonial {
    padding: 4.6rem 2.6rem 10.5rem;
  }

  .initials {
    padding: 1.4rem;
    font-size: 2.3rem;
  }

  .author {
    font-size: 2.3rem;
  }

  .star {
    height: 1.8rem;
    width: 1.8rem;
  }

  .date {
    font-size: 1.8rem;
  }

  .testimonial-heading {
    font-size: 2.3rem;
  }

  blockquote {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 2200px) {
  nav {
    padding: 1.8rem 4.6rem;
  }

  .logo {
    width: 23rem;
    height: 6.3rem;
  }

  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.8rem;
  }

  #dropdown-menu {
    top: 10.3rem;
    left: 161rem;
  }

  .heading {
    gap: 2.3rem;
    margin: 15rem 0 7.4rem;
  }

  h1 {
    font-size: 5.8rem;
  }

  .subheading {
    font-size: 2.6rem;
  }

  .contact-btn {
    padding: 1.6rem 3.6rem;
  }

  .contact-btn a:link,
  .contact-btn a:active {
    font-size: 2.6rem;
  }

  .testimonial {
    gap: 4.6rem;
    padding: 4.6rem 3.6rem 11.9rem;
  }

  .initials {
    font-size: 2.3rem;
    padding: 1.4rem;
  }

  .star {
    width: 2rem;
    height: 2rem;
  }

  .date {
    font-size: 1.8rem;
  }

  .testimonial-btm {
    gap: 2.3rem;
  }

  .author,
  .testimonial-heading {
    font-size: 2.3rem;
  }

  blockquote {
    font-size: 2rem;
  }

  .footer-img img {
    width: 7.4rem;
    height: 7.4rem;
  }

  .footer-text {
    font-size: 1.8rem;
  }
}
