/* 
Text/Margin Scale:
11 px  12px  14 px  16 px  18 px
20 px  23 px  26 px  29px 32px
36px  41px  46px  52px  58px
66px 74px  83px  94px  105px
119px  133px  150px  169px  190px
214px 240px 270px
*/

@media only screen and (min-width: 400px) and (max-width: 419px) {
  #responsive-menu {
    left: 1rem;
  }
}

@media only screen and (min-width: 420px) and (max-width: 439px) {
  #responsive-menu {
    left: 3rem;
  }
}

@media only screen and (max-width: 429px) {
  footer {
    margin: 0 8.3rem 3.6rem;
  }
}

@media only screen and (min-width: 430px) and (max-width: 559px) {
  footer {
    margin: 0 10.5rem 3.6rem;
  }
}

@media only screen and (min-width: 440px) and (max-width: 459px) {
  #responsive-menu {
    left: 5rem;
  }
}

@media only screen and (max-width: 449px) {
  h1 {
    font-size: 2.3rem;
  }

  .subheading {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 450px) and (max-width: 599px) {
  h1 {
    font-size: 2.6rem;
  }
}

@media only screen and (min-width: 450px) and (max-width: 899px) {
  .subheading {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 460px) and (max-width: 479px) {
  #responsive-menu {
    left: 7rem;
  }
}

@media only screen and (max-width: 469px) {
  .footer-img img {
    width: 3.6rem;
    height: 3.6rem;
  }

  .footer-text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 470px) and (max-width: 599px) {
  .footer-img img {
    width: 4.1rem;
    height: 4.1rem;
  }

  .footer-text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 499px) {
  #responsive-menu {
    left: 9rem;
  }
}

@media only screen and (max-width: 499px) {
  nav {
    padding: 0.6rem 2.6rem;
  }

  .logo {
    width: 11rem;
    height: 3.2rem;
  }

  .testimonials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 500px) and (max-width: 519px) {
  #responsive-menu {
    left: 10rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 599px) {
  nav {
    padding: 0.6rem 3.6rem;
  }

  .logo {
    width: 12rem;
    height: 3.4rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 859px) {
  .testimonials-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 520px) and (max-width: 539px) {
  #responsive-menu {
    left: 12rem;
  }
}

@media only screen and (max-width: 539px) {
  .testimonials-container {
    margin: 11.9rem 2.3rem -15rem;
    column-gap: 2.6rem;
    row-gap: 4.6rem;
  }
}

@media only screen and (min-width: 540px) and (max-width: 559px) {
  #responsive-menu {
    left: 14rem;
  }
}

@media only screen and (min-width: 540px) and (max-width: 599px) {
  .testimonials-container {
    margin: 11.9rem 2.9rem -15rem;
    column-gap: 3.2rem;
    row-gap: 5.2rem;
  }
}

@media only screen and (max-width: 549px) {
  .author {
    font-size: 1.4rem;
  }

  .star {
    width: 1.3rem;
    height: 1.3rem;
  }

  .date,
  blockquote {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 550px) and (max-width: 989px) {
  .author {
    font-size: 1.5rem;
  }

  .star {
    width: 1.4rem;
    height: 1.4rem;
  }

  .date,
  blockquote {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 560px) and (max-width: 579px) {
  #responsive-menu {
    left: 16rem;
  }
}

@media only screen and (min-width: 580px) and (max-width: 599px) {
  #responsive-menu {
    left: 18rem;
  }
}

@media only screen and (max-width: 599px) {
  #menu-icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  #responsive-menu {
    width: 41rem;
    height: 55rem;
    padding: 3.2rem 2rem 3.2rem 7.4rem;
  }

  .responsive-link a:link,
  .responsive-link a:visited,
  .responsive-link {
    font-size: 1.6rem;
  }

  .contact-btn {
    padding: 6px 1.6rem;
  }

  .contact-btn a:link,
  .contact-btn a:visited {
    font-size: 1.4rem;
  }

  .testimonial {
    padding: 2.3rem 1.2rem 3.2rem;
  }

  .testimonial-left {
    gap: 1rem;
  }

  .initials {
    padding: 8px;
    font-size: 1.5rem;
  }

  .testimonial-heading {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 619px) {
  #responsive-menu {
    left: 16rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 699px) {
  #responsive-menu {
    width: 46rem;
    padding: 4.1rem 2.3rem 4.1rem 9.4rem;
  }

  .responsive-link a:link,
  .responsive-link a:visited,
  .responsive-link {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 859px) {
  .contact-btn a:link,
  .contact-btn a:visited {
    font-size: 1.6rem;
  }

  .testimonial {
    padding: 2.9rem 2rem 4.1rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  nav {
    padding: 0.8rem 3.2rem;
  }

  .logo {
    width: 15rem;
    height: 4.2rem;
  }

  h1 {
    font-size: 3.2rem;
  }

  .contact-btn {
    padding: 8px 2rem;
  }

  .footer-img img {
    width: 4.6rem;
    height: 4.6rem;
  }

  .footer-text {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 989px) {
  .testimonials-container {
    margin: 15rem 3.2rem -10.5rem;
  }

  .initials {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #menu-icon {
    width: 3.6rem;
    height: 3.6rem;
  }
}

@media only screen and (min-width: 620px) and (max-width: 639px) {
  #responsive-menu {
    left: 18rem;
  }
}

@media only screen and (min-width: 640px) and (max-width: 659px) {
  #responsive-menu {
    left: 20rem;
  }
}

@media only screen and (min-width: 660px) and (max-width: 679px) {
  #responsive-menu {
    left: 22rem;
  }
}

@media only screen and (min-width: 680px) and (max-width: 699px) {
  #responsive-menu {
    left: 24rem;
  }
}

@media only screen and (min-width: 700px) and (max-width: 719px) {
  #responsive-menu {
    left: 20rem;
  }
}

@media only screen and (min-width: 720px) and (max-width: 739px) {
  #responsive-menu {
    left: 22rem;
  }
}

@media only screen and (min-width: 740px) and (max-width: 759px) {
  #responsive-menu {
    left: 24rem;
  }
}
@media only screen and (min-width: 740px) and (max-width: 759px) {
  #responsive-menu {
    left: 24rem;
  }
}

@media only screen and (min-width: 760px) and (max-width: 779px) {
  #responsive-menu {
    left: 26rem;
  }
}

@media only screen and (min-width: 780px) and (max-width: 799px) {
  #responsive-menu {
    left: 28rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 819px) {
  .close-btn {
    transform: translateX(-8.3rem);
  }
}

@media only screen and (min-width: 800px) and (max-width: 819) {
  #responsive-menu {
    left: 30rem;
  }
}

@media only screen and (min-width: 820px) and (max-width: 870px) {
  #responsive-menu {
    left: 32rem;
  }
}

@media only screen and (min-width: 820px) and (max-width: 930px) {
  .close-btn {
    transform: translateX(-7.4rem);
  }
}

@media only screen and (min-width: 880px) and (max-width: 930px) {
  #responsive-menu {
    left: 38rem;
  }
}

@media only screen and (min-width: 940px) and (max-width: 989px) {
  #responsive-menu {
    left: 40rem;
  }

  .close-btn {
    transform: translateX(-4.1rem);
  }
}

@media only screen and (min-width: 950px) and (max-width: 989px) {
  .close-btn {
    transform: translateX(-2.3rem);
  }
}

@media only screen and (min-width: 860px) and (max-width: 989px) {
  #responsive-menu {
    left: 40rem;
  }

  .close-btn {
    transform: translateX(-2.3rem);
  }

  .contact-btn a:link,
  .contact-btn a:visited {
    font-size: 1.8rem;
  }

  .testimonial {
    padding: 2.6rem 2rem;
  }
}

@media only screen and (max-width: 989px) {
  .close-btn {
    margin-top: -2rem;
  }

  .testimonial {
    gap: 2.6rem;
  }

  .name-box {
    gap: 3px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  nav {
    padding: 1rem 3.6rem;
  }

  .logo {
    width: 16rem;
    height: 4.5rem;
  }

  .heading {
    margin: 15rem 0 4.6rem;
  }

  .subheading {
    font-size: 1.8rem;
  }

  .contact-btn {
    padding: 8px 2rem;
  }

  .contact-btn a:link,
  .contact-btn a:visited {
    font-size: 1.8rem;
  }

  .testimonials-container {
    column-gap: 2.6rem;
    row-gap: 4.6rem;
  }

  .author {
    font-size: 1.6rem;
  }

  .star {
    width: 1.4rem;
    height: 1.4rem;
  }

  .date,
  blockquote {
    font-size: 1.4rem;
  }

  .testimonial-heading {
    font-size: 1.6rem;
  }

  .footer-img img {
    width: 5.2rem;
    height: 5.2rem;
  }

  .footer-text {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1024px) {
  #responsive-menu {
    left: 44.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  #menu-icon {
    display: block;
    color: var(--primary-color);
  }

  #responsive-menu {
    top: 0;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1099px) {
  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.4rem;
  }

  #dropdown-menu {
    top: 6.75rem;
    left: 66rem;
    padding: 2rem 1.2rem;
  }

  .dd-link a:link,
  .dd-link a:visited {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1099px) {
  h1 {
    font-size: 4.1rem;
  }

  .testimonials-container {
    margin: 19rem 4.1rem -10.5rem;
  }

  .testimonial {
    gap: 2.9rem;
    padding: 2.9rem 2rem;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1199px) {
  #dropdown-menu {
    left: 50rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  #dropdown-menu {
    left: 60rem;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1439px) {
  #dropdown-menu {
    left: 70rem;
  }
}

@media only screen and (min-width: 1900px) and (max-width: 2199px) {
  #dropdown-menu {
    left: 135.5rem;
  }

  h1 {
    font-size: 5.2rem;
  }

  .subheading {
    font-size: 2.3rem;
  }

  .contact-btn {
    padding: 1.4rem 3.2rem;
  }

  .contact-btn a {
    font-size: 2.3rem;
  }

  .testimonial {
    padding: 4.6rem 2.6rem 10.5rem;
  }

  .initials {
    padding: 1.4rem;
    font-size: 2.3rem;
  }

  .author {
    font-size: 2.3rem;
  }

  .star {
    height: 1.8rem;
    width: 1.8rem;
  }

  .date {
    font-size: 1.8rem;
  }

  .testimonial-heading {
    font-size: 2.3rem;
  }

  blockquote {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 2200px) {
  nav {
    padding: 1.8rem 4.6rem;
  }

  .logo {
    width: 23rem;
    height: 6.3rem;
  }

  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.8rem;
  }

  #dropdown-menu {
    top: 10.3rem;
    left: 161rem;
  }

  .heading {
    gap: 2.3rem;
    margin: 15rem 0 7.4rem;
  }

  h1 {
    font-size: 5.8rem;
  }

  .subheading {
    font-size: 2.6rem;
  }

  .contact-btn {
    padding: 1.6rem 3.6rem;
  }

  .contact-btn a:link,
  .contact-btn a:active {
    font-size: 2.6rem;
  }

  .testimonial {
    gap: 4.6rem;
    padding: 4.6rem 3.6rem 11.9rem;
  }

  .initials {
    font-size: 2.3rem;
    padding: 1.4rem;
  }

  .star {
    width: 2rem;
    height: 2rem;
  }

  .date {
    font-size: 1.8rem;
  }

  .testimonial-btm {
    gap: 2.3rem;
  }

  .author,
  .testimonial-heading {
    font-size: 2.3rem;
  }

  blockquote {
    font-size: 2rem;
  }

  .footer-img img {
    width: 7.4rem;
    height: 7.4rem;
  }

  .footer-text {
    font-size: 1.8rem;
  }
}
