@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  #menu-icon {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    color: var(--primary-color);
  }

  #responsive-menu {
    left: 44.5rem;
    top: 0;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1099px) {
  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.4rem;
  }

  #dropdown-menu {
    top: 6.75rem;
    left: 66rem;
    padding: 2rem 1.2rem;
  }

  .dd-link a:link,
  .dd-link a:visited {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1099px) {
  nav {
    padding: 1rem 3.6rem;
  }

  .logo {
    width: 16rem;
    height: 4.5rem;
  }

  .heading {
    margin: 15rem 0 4.6rem;
  }

  h1 {
    font-size: 4.1rem;
  }

  .subheading {
    font-size: 1.8rem;
  }

  .contact-btn {
    padding: 8px 2rem;
  }

  .contact-btn a:link,
  .contact-btn a:visited {
    font-size: 1.8rem;
  }

  .testimonials-container {
    column-gap: 2.6rem;
    row-gap: 4.6rem;
    margin: 19rem 4.1rem -10.5rem;
  }

  .testimonial {
    gap: 2.9rem;
    padding: 2.9rem 2rem;
  }

  .author {
    font-size: 1.6rem;
  }

  .star {
    width: 1.4rem;
    height: 1.4rem;
  }

  .date,
  blockquote {
    font-size: 1.4rem;
  }

  .testimonial-heading {
    font-size: 1.6rem;
  }

  .footer-img img {
    width: 5.2rem;
    height: 5.2rem;
  }

  .footer-text {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1199px) {
  #dropdown-menu {
    left: 50rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  #dropdown-menu {
    left: 60rem;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1439px) {
  #dropdown-menu {
    left: 70rem;
  }
}

@media only screen and (min-width: 1900px) and (max-width: 2199px) {
  #dropdown-menu {
    left: 135.5rem;
  }

  h1 {
    font-size: 5.2rem;
  }

  .subheading {
    font-size: 2.3rem;
  }

  .contact-btn {
    padding: 1.4rem 3.2rem;
  }

  .contact-btn a {
    font-size: 2.3rem;
  }

  .testimonial {
    padding: 4.6rem 2.6rem 10.5rem;
  }

  .initials {
    padding: 1.4rem;
    font-size: 2.3rem;
  }

  .author {
    font-size: 2.3rem;
  }

  .star {
    height: 1.8rem;
    width: 1.8rem;
  }

  .date {
    font-size: 1.8rem;
  }

  .testimonial-heading {
    font-size: 2.3rem;
  }

  blockquote {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 2200px) {
  nav {
    padding: 1.8rem 4.6rem;
  }

  .logo {
    width: 23rem;
    height: 6.3rem;
  }

  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.8rem;
  }

  #dropdown-menu {
    top: 10.3rem;
    left: 161rem;
  }

  .heading {
    gap: 2.3rem;
    margin: 15rem 0 7.4rem;
  }

  h1 {
    font-size: 5.8rem;
  }

  .subheading {
    font-size: 2.6rem;
  }

  .contact-btn {
    padding: 1.6rem 3.6rem;
  }

  .contact-btn a:link,
  .contact-btn a:active {
    font-size: 2.6rem;
  }

  .testimonial {
    gap: 4.6rem;
    padding: 4.6rem 3.6rem 11.9rem;
  }

  .initials {
    font-size: 2.3rem;
    padding: 1.4rem;
  }

  .star {
    width: 2rem;
    height: 2rem;
  }

  .date {
    font-size: 1.8rem;
  }

  .testimonial-btm {
    gap: 2.3rem;
  }

  .author,
  .testimonial-heading {
    font-size: 2.3rem;
  }

  blockquote {
    font-size: 2rem;
  }

  .footer-img img {
    width: 7.4rem;
    height: 7.4rem;
  }

  .footer-text {
    font-size: 1.8rem;
  }
}
