@media only screen and (min-width: 600px) and (max-width: 649px) {
  main {
    left: 5rem;
  }

  .heading {
    gap: 6.6rem;
  }

  .videos-container {
    column-gap: 2.9rem;
  }

  iframe {
    max-width: 260px !important;
    min-width: 260px !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 699px) {
  #responsive-menu {
    width: 46rem;
    padding: 4.1rem 2.3rem 4.1rem 9.4rem;
  }

  .responsive-link a:link,
  .responsive-link a:visited,
  .responsive-link {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 619px) {
  #responsive-menu {
    left: 16rem;
  }
}

@media only screen and (min-width: 620px) and (max-width: 639px) {
  #responsive-menu {
    left: 18rem;
  }
}

@media only screen and (min-width: 640px) and (max-width: 659px) {
  #responsive-menu {
    left: 20rem;
  }
}

@media only screen and (min-width: 650px) and (max-width: 699px) {
  main {
    left: 6rem;
  }

  .videos-container {
    column-gap: 4.1rem;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1099px) {
  .heading {
    gap: 8.3rem;
  }
}

@media only screen and (min-width: 660px) and (max-width: 679px) {
  #responsive-menu {
    left: 22rem;
  }
}

@media only screen and (min-width: 680px) and (max-width: 699px) {
  #responsive-menu {
    left: 24rem;
  }
}

@media only screen and (max-width: 699px) {
  h1 {
    font-size: 2.9rem;
  }
}

@media only screen and (min-width: 700px) and (max-width: 749px) {
  main {
    left: 9rem;
  }
}

@media only screen and (min-width: 700px) and (max-width: 799px) {
  h1 {
    font-size: 3.2rem;
  }

  .videos-container {
    column-gap: 5.2rem;
  }
}

@media only screen and (min-width: 650px) and (max-width: 749px) {
  iframe {
    max-width: 280px !important;
    min-width: 280px !important;
  }
}

@media only screen and (min-width: 700px) and (max-width: 719px) {
  #responsive-menu {
    left: 20rem;
  }
}

@media only screen and (min-width: 720px) and (max-width: 739px) {
  #responsive-menu {
    left: 22rem;
  }
}

@media only screen and (min-width: 740px) and (max-width: 759px) {
  #responsive-menu {
    left: 24rem;
  }
}

@media only screen and (min-width: 750px) and (max-width: 799px) {
  main {
    left: 12rem;
  }

  iframe {
    max-width: 300px !important;
    min-width: 300px !important;
  }
}

@media only screen and (min-width: 760px) and (max-width: 779px) {
  #responsive-menu {
    left: 26rem;
  }
}

@media only screen and (min-width: 780px) and (max-width: 799px) {
  #responsive-menu {
    left: 28rem;
  }
}

@media only screen and (max-width: 799px) {
  .subheading {
    font-size: 1.6rem;
  }

  .bg-rectangle {
    height: 124rem;
    top: 54rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 819px) {
  #responsive-menu {
    left: 30rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 819px) {
  .close-btn {
    transform: translateX(-8.3rem);
  }
}

@media only screen and (min-width: 820px) and (max-width: 870px) {
  #responsive-menu {
    left: 32rem;
  }
}

@media only screen and (min-width: 820px) and (max-width: 930px) {
  .close-btn {
    transform: translateX(-7.4rem);
  }
}

@media only screen and (min-width: 800px) and (max-width: 859px) {
  main {
    left: 12rem;
  }

  h1 {
    font-size: 3.2rem;
  }

  .subheading {
    font-size: 1.6rem;
  }

  .videos-container {
    column-gap: 6.6rem;
  }

  iframe {
    max-width: 400px !important;
  }

  .bg-rectangle {
    height: 124rem;
    top: 54rem;
  }
}

@media only screen and (min-width: 860px) and (max-width: 989px) {
  #responsive-menu {
    left: 40rem;
  }

  .close-btn {
    margin-top: -2rem;
    transform: translateX(-2.3rem);
  }

  main {
    left: 15rem;
  }

  h1 {
    font-size: 3.6rem;
  }

  .videos-container {
    column-gap: 8.3rem;
  }

  iframe {
    max-width: 340px !important;
  }

  .bg-rectangle {
    height: 124rem;
    top: 54rem;
  }
}

@media only screen and (min-width: 880px) and (max-width: 930px) {
  #responsive-menu {
    left: 32rem;
  }
}

@media only screen and (max-width: 899px) {
  nav {
    padding: 0.8rem 3.2rem;
  }

  .logo {
    width: 15rem;
    height: 4.2rem;
  }

  .footer-img img {
    width: 4.6rem;
    height: 4.6rem;
  }

  .footer-text {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  nav {
    padding: 1rem 3.6rem;
  }

  .logo {
    width: 16rem;
    height: 4.5rem;
  }

  .heading {
    gap: 8.3rem;
  }

  .subheading {
    font-size: 1.8rem;
  }

  .footer-img img {
    width: 5.2rem;
    height: 5.2rem;
  }

  .footer-text {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 940px) and (max-width: 989px) {
  #responsive-menu {
    left: 40rem;
  }

  .close-btn {
    transform: translateX(-4.1rem);
  }
}

@media only screen and (min-width: 950px) and (max-width: 989px) {
  .close-btn {
    transform: translateX(-2.3rem);
  }
}

@media only screen and (max-width: 989px) {
  .videos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5.2rem;
    margin: -80rem 0 -50rem;
    padding: 0 10rem;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1024px) {
  #responsive-menu {
    left: 44.5rem;
  }

  iframe {
    max-width: 300px !important;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1099px) {
  .bg-rectangle {
    top: 51rem;
  }

  main {
    left: 25rem;
  }

  h1 {
    font-size: 4.1rem;
  }

  .videos-container {
    gap: 2.6rem;
    margin: -12rem 0 -50rem;
  }
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  #menu-icon {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    color: var(--primary-color);
  }

  #responsive-menu {
    top: 0;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1099px) {
  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.4rem;
  }

  #dropdown-menu {
    top: 6.75rem;
    left: 66rem;
    padding: 2rem 1.2rem;
  }

  .dd-link a:link,
  .dd-link a:visited {
    font-size: 1.4rem;
  }

  iframe {
    max-width: 180px !important;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1199px) {
  #dropdown-menu {
    left: 50rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  #dropdown-menu {
    left: 60rem;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1439px) {
  #dropdown-menu {
    left: 70rem;
  }
}

@media only screen and (min-width: 1900px) and (max-width: 2199px) {
  #dropdown-menu {
    left: 137rem;
  }

  .bg-rectangle {
    top: 55rem;
  }

  main {
    left: 60rem;
  }

  h1 {
    font-size: 5.8rem;
  }

  .subheading {
    font-size: 2.3rem;
  }

  iframe {
    max-width: 460px !important;
  }

  .videos-container {
    gap: 7.4rem;
  }
}

@media only screen and (min-width: 2200px) {
  nav {
    padding: 1.8rem 4.6rem;
  }

  .logo {
    width: 23rem;
    height: 6.3rem;
  }

  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.8rem;
  }

  #dropdown-menu {
    top: 10.3rem;
    left: 161rem;
  }

  .bg-rectangle {
    height: 58rem;
    top: 62rem;
  }

  main {
    top: 15rem;
    left: 74rem;
  }

  h1 {
    font-size: 5.8rem;
  }

  .subheading {
    font-size: 2.6rem;
    line-height: 1.4;
  }

  .videos-container {
    margin: -9.4rem 0 -41rem;
    gap: 10.5rem;
  }

  iframe {
    max-width: 520px !important;
  }

  .footer-img img {
    width: 7.4rem;
    height: 7.4rem;
  }

  .footer-text {
    font-size: 1.8rem;
  }
}
