/* 
Text/Margin Scale:
11 px  12px  14 px  16 px  18 px
20 px  23 px  26 px  29px 32px
36px  41px  46px  52px  58px
66px 74px  83px  94px  105px
119px  133px  150px  169px  190px
214px 240px 270px
*/

@media only screen and (max-width: 259px) {
  #responsive-menu {
    left: 2rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .subheading {
    font-size: 8px;
  }
}

@media only screen and (min-width: 260px) and (max-width: 269px) {
  #responsive-menu {
    left: 3rem;
  }
}

@media only screen and (min-width: 260px) and (max-width: 299px) {
  h1 {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 270px) and (max-width: 279px) {
  #responsive-menu {
    left: 4rem;
  }
}

@media only screen and (min-width: 280px) and (max-width: 289px) {
  #responsive-menu {
    left: 5rem;
  }
}

@media only screen and (min-width: 290px) and (max-width: 299px) {
  #responsive-menu {
    left: 6rem;
  }
}

@media only screen and (max-width: 299px) {
  nav {
    padding: 0.2rem 2rem;
  }

  .logo {
    width: 7.5rem;
    height: 2.3rem;
  }

  #menu-icon {
    width: 2.3rem;
    height: 2.3rem;
  }

  #responsive-menu {
    width: 23rem;
    height: 35rem;
    padding: 2.3rem 1rem 2.3rem 2.6rem;
  }

  .responsive-link a:link,
  .responsive-link a:visited,
  .responsive-link {
    font-size: 1.2rem;
  }

  .close-btn {
    width: 2.3rem;
    height: 2.3rem;
  }

  .heading {
    gap: 3.2rem;
    margin: 6.6rem auto 0;
  }

  .videos-container {
    top: -6.6rem;
  }

  iframe {
    max-width: 230px !important;
    min-width: 230px !important;
  }

  footer {
    margin: 10.5rem 2rem 3.6rem;
  }

  .footer-img img {
    width: 2.9rem;
    height: 2.9rem;
  }

  .footer-text {
    font-size: 8px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 309px) {
  #responsive-menu {
    left: 4rem;
  }
}

@media only screen and (min-width: 300px) and (max-width: 329px) {
  .subheading {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 300px) and (max-width: 339px) {
  #responsive-menu {
    width: 26rem;
  }
}

@media only screen and (min-width: 300px) and (max-width: 349px) {
  iframe {
    max-width: 260px !important;
    min-width: 260px !important;
  }
}

@media only screen and (min-width: 300px) and (max-width: 399px) {
  nav {
    padding: 0.4rem 2.3rem;
  }

  .logo {
    width: 9.5rem;
    height: 2.9rem;
  }

  #menu-icon {
    width: 2.9rem;
    height: 2.9rem;
  }

  #responsive-menu {
    height: 41rem;
    padding: 2.6rem 1rem 2.6rem 5.2rem;
  }

  .responsive-link a:link,
  .responsive-link a:visited,
  .responsive-link {
    font-size: 1.4rem;
  }

  .close-btn {
    width: 2.6rem;
    height: 2.6rem;
  }

  .heading {
    gap: 4.1rem;
  }

  h1 {
    font-size: 2.3rem;
  }

  .videos-container {
    top: -3.6rem;
  }

  footer {
    margin: 10.5rem 5.2rem 3.6rem;
  }
}

@media only screen and (min-width: 300px) and (max-width: 469px) {
  .footer-img img {
    width: 3.6rem;
    height: 3.6rem;
  }

  .footer-text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 310px) and (max-width: 319px) {
  #responsive-menu {
    left: 5rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 329px) {
  #responsive-menu {
    left: 6rem;
  }
}

@media only screen and (max-width: 329px) {
  .subheading {
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 330px) and (max-width: 339px) {
  #responsive-menu {
    left: 7rem;
  }
}

@media only screen and (min-width: 330px) and (max-width: 399px) {
  .subheading {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 330px) and (max-width: 599px) {
  .subheading {
    padding: 0 1.4rem;
  }
}

@media only screen and (min-width: 340px) and (max-width: 349px) {
  #responsive-menu {
    left: 4rem;
  }
}

@media only screen and (min-width: 340px) and (max-width: 399px) {
  #responsive-menu {
    width: 30rem;
  }
}

@media only screen and (min-width: 350px) and (max-width: 359px) {
  #responsive-menu {
    left: 5rem;
  }
}

@media only screen and (min-width: 350px) and (max-width: 399px) {
  iframe {
    max-width: 290px !important;
    min-width: 290px !important;
  }
}

@media only screen and (min-width: 360px) and (max-width: 369px) {
  #responsive-menu {
    left: 6rem;
  }
}

@media only screen and (min-width: 370px) and (max-width: 379px) {
  #responsive-menu {
    left: 7rem;
  }
}

@media only screen and (min-width: 380px) and (max-width: 389px) {
  #responsive-menu {
    left: 8rem;
  }
}

@media only screen and (min-width: 390px) and (max-width: 399px) {
  #responsive-menu {
    left: 9rem;
  }
}

@media only screen and (max-width: 399px) {
  .close-btn {
    margin-top: -2rem;
    transform: translateX(-1rem);
  }
}

@media only screen and (min-width: 400px) and (max-width: 419px) {
  #responsive-menu {
    left: 1rem;
  }
}

@media only screen and (min-width: 400px) and (max-width: 439px) {
  iframe {
    max-width: 320px !important;
    min-width: 320px !important;
  }
}

@media only screen and (min-width: 400px) and (max-width: 499px) {
  nav {
    padding: 0.6rem 2.6rem;
  }

  .logo {
    width: 11rem;
    height: 3.2rem;
  }

  h1 {
    font-size: 2.6rem;
  }

  .subheading {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 400px) and (max-width: 559px) {
  footer {
    margin: 10.5rem 10.5rem 3.6rem;
  }
}

@media only screen and (min-width: 400px) and (max-width: 599px) {
  #menu-icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  #responsive-menu {
    width: 41rem;
    height: 55rem;
    padding: 3.2rem 2rem 3.2rem 7.4rem;
  }

  .responsive-link a:link,
  .responsive-link a:visited,
  .responsive-link {
    font-size: 1.6rem;
  }

  .heading {
    gap: 6.6rem;
  }
}

@media only screen and (min-width: 420px) and (max-width: 439px) {
  #responsive-menu {
    left: 3rem;
  }
}

@media only screen and (min-width: 440px) and (max-width: 459px) {
  #responsive-menu {
    left: 5rem;
  }
}

@media only screen and (min-width: 440px) and (max-width: 599px) {
  iframe {
    max-width: 360px !important;
    min-width: 360px !important;
  }
}

@media only screen and (min-width: 460px) and (max-width: 479px) {
  #responsive-menu {
    left: 7rem;
  }
}

@media only screen and (min-width: 470px) and (max-width: 599px) {
  .footer-img img {
    width: 4.1rem;
    height: 4.1rem;
  }

  .footer-text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 499px) {
  #responsive-menu {
    left: 8rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 519px) {
  #responsive-menu {
    left: 10rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 599px) {
  nav {
    padding: 0.6rem 3.6rem;
  }

  .logo {
    width: 12rem;
    height: 3.4rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 699px) {
  h1 {
    font-size: 2.9rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 799px) {
  .subheading {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 520px) and (max-width: 539px) {
  #responsive-menu {
    left: 12rem;
  }
}

@media only screen and (min-width: 540px) and (max-width: 559px) {
  #responsive-menu {
    left: 14rem;
  }
}

@media only screen and (min-width: 560px) and (max-width: 579px) {
  #responsive-menu {
    left: 16rem;
  }
}

@media only screen and (min-width: 580px) and (max-width: 599px) {
  #responsive-menu {
    left: 18rem;
  }
}

@media only screen and (max-width: 599px) {
  .bg-rectangle {
    display: none;
  }

  .heading {
    flex-direction: column;
    text-align: center;
  }

  .subheading {
    text-align: center;
  }

  .videos-container {
    flex-direction: column;
    gap: 3.2rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 619px) {
  #responsive-menu {
    left: 16rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 649px) {
  .bg-rectangle {
    top: 48rem;
  }

  .heading {
    gap: 6.6rem;
  }

  .videos-container {
    column-gap: 2.9rem;
  }

  iframe {
    max-width: 260px !important;
    min-width: 260px !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 699px) {
  #responsive-menu {
    width: 46rem;
    padding: 4.1rem 2.3rem 4.1rem 9.4rem;
  }

  .responsive-link a:link,
  .responsive-link a:visited,
  .responsive-link {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  nav {
    padding: 0.8rem 3.2rem;
  }

  .logo {
    width: 15rem;
    height: 4.2rem;
  }

  .footer-img img {
    width: 4.6rem;
    height: 4.6rem;
  }

  .footer-text {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 989px) {
  .videos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5.2rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #menu-icon {
    width: 3.6rem;
    height: 3.6rem;
  }
}

@media only screen and (min-width: 620px) and (max-width: 639px) {
  #responsive-menu {
    left: 18rem;
  }
}

@media only screen and (min-width: 640px) and (max-width: 659px) {
  #responsive-menu {
    left: 20rem;
  }
}

@media only screen and (min-width: 650px) and (max-width: 699px) {
  .videos-container {
    column-gap: 4.1rem;
  }
}

@media only screen and (min-width: 650px) and (max-width: 799px) {
  .bg-rectangle {
    top: 46rem;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1099px) {
  .heading {
    gap: 8.3rem;
  }
}

@media only screen and (min-width: 660px) and (max-width: 679px) {
  #responsive-menu {
    left: 22rem;
  }
}

@media only screen and (min-width: 680px) and (max-width: 699px) {
  #responsive-menu {
    left: 24rem;
  }
}

@media only screen and (min-width: 700px) and (max-width: 799px) {
  h1 {
    font-size: 3.2rem;
  }

  .videos-container {
    column-gap: 5.2rem;
  }
}

@media only screen and (min-width: 650px) and (max-width: 749px) {
  iframe {
    max-width: 280px !important;
    min-width: 280px !important;
  }
}

@media only screen and (min-width: 700px) and (max-width: 719px) {
  #responsive-menu {
    left: 20rem;
  }
}

@media only screen and (min-width: 720px) and (max-width: 739px) {
  #responsive-menu {
    left: 22rem;
  }
}

@media only screen and (min-width: 740px) and (max-width: 759px) {
  #responsive-menu {
    left: 24rem;
  }
}

@media only screen and (min-width: 750px) and (max-width: 799px) {
  iframe {
    max-width: 300px !important;
    min-width: 300px !important;
  }
}

@media only screen and (min-width: 760px) and (max-width: 779px) {
  #responsive-menu {
    left: 26rem;
  }
}

@media only screen and (min-width: 780px) and (max-width: 799px) {
  #responsive-menu {
    left: 28rem;
  }
}

@media only screen and (max-width: 799px) {
  .bg-rectangle {
    height: 125rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 819px) {
  #responsive-menu {
    left: 30rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 819px) {
  .close-btn {
    transform: translateX(-8.3rem);
  }
}

@media only screen and (min-width: 820px) and (max-width: 870px) {
  #responsive-menu {
    left: 32rem;
  }
}

@media only screen and (min-width: 820px) and (max-width: 930px) {
  .close-btn {
    transform: translateX(-7.4rem);
  }
}

@media only screen and (min-width: 800px) and (max-width: 859px) {
  h1 {
    font-size: 3.2rem;
  }

  .subheading {
    font-size: 1.6rem;
  }

  .videos-container {
    column-gap: 6.6rem;
  }

  iframe {
    min-width: 320px !important;
    max-width: 320px !important;
  }

  .bg-rectangle {
    height: 124rem;
    top: 50rem;
  }
}

@media only screen and (min-width: 860px) and (max-width: 989px) {
  #responsive-menu {
    left: 40rem;
  }

  .close-btn {
    margin-top: -2rem;
    transform: translateX(-2.3rem);
  }

  h1 {
    font-size: 3.6rem;
  }

  .videos-container {
    column-gap: 8.3rem;
  }

  iframe {
    min-width: 340px !important;
    max-width: 340px !important;
  }

  .bg-rectangle {
    height: 124rem;
    top: 54rem;
  }
}

@media only screen and (min-width: 880px) and (max-width: 930px) {
  #responsive-menu {
    left: 32rem;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  nav {
    padding: 1rem 3.6rem;
  }

  .logo {
    width: 16rem;
    height: 4.5rem;
  }

  .heading {
    gap: 8.3rem;
  }

  .subheading {
    font-size: 1.8rem;
  }

  .footer-img img {
    width: 5.2rem;
    height: 5.2rem;
  }

  .footer-text {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 940px) and (max-width: 989px) {
  #responsive-menu {
    left: 40rem;
  }

  .close-btn {
    transform: translateX(-4.1rem);
  }
}

@media only screen and (min-width: 950px) and (max-width: 989px) {
  .close-btn {
    transform: translateX(-2.3rem);
  }
}

@media only screen and (min-width: 990px) and (max-width: 1024px) {
  #responsive-menu {
    left: 44.5rem;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1099px) {
  .bg-rectangle {
    top: 51rem;
  }

  h1 {
    font-size: 4.1rem;
  }

  .videos-container {
    gap: 2.6rem;
  }

  iframe {
    min-width: 300px !important;
    max-width: 300px !important;
  }
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  #menu-icon {
    display: block;
    color: var(--primary-color);
  }

  #responsive-menu {
    top: 0;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1099px) {
  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.4rem;
  }

  #dropdown-menu {
    top: 6.75rem;
    left: 55rem;
    padding: 2rem 1rem;
  }

  .dd-link a:link,
  .dd-link a:visited {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1199px) {
  #dropdown-menu {
    left: 60rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  #dropdown-menu {
    left: 70rem;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  #dropdown-menu {
    left: 80rem;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1499px) {
  #dropdown-menu {
    left: 90rem;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1599px) {
  #dropdown-menu {
    left: 100rem;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1699px) {
  #dropdown-menu {
    left: 110rem;
  }
}

@media only screen and (min-width: 1700px) and (max-width: 1799px) {
  #dropdown-menu {
    left: 120rem;
  }
}

@media only screen and (min-width: 1800px) and (max-width: 1899px) {
  #dropdown-menu {
    left: 130rem;
  }
}

@media only screen and (min-width: 1900px) and (max-width: 1999px) {
  #dropdown-menu {
    left: 140rem;
  }
}

@media only screen and (min-width: 1900px) and (max-width: 2199px) {
  .bg-rectangle {
    top: 55rem;
  }

  h1 {
    font-size: 5.8rem;
  }

  .subheading {
    font-size: 2.3rem;
  }

  iframe {
    min-width: 460px !important;
    max-width: 460px !important;
  }

  .videos-container {
    gap: 7.4rem;
  }
}

@media only screen and (min-width: 2000px) and (max-width: 2099px) {
  #dropdown-menu {
    left: 150rem;
  }
}

@media only screen and (min-width: 2100px) and (max-width: 2199px) {
  #dropdown-menu {
    left: 160rem;
  }
}

@media only screen and (min-width: 2200px) {
  nav {
    padding: 1.8rem 4.6rem;
  }

  .logo {
    width: 23rem;
    height: 6.3rem;
  }

  .nav-link a:link,
  .nav-link a:visited,
  .about-link {
    font-size: 1.8rem;
  }

  #dropdown-menu {
    top: 10.3rem;
    left: 161rem;
  }

  .bg-rectangle {
    height: 60rem;
    top: 57rem;
  }

  h1 {
    font-size: 5.8rem;
  }

  .subheading {
    font-size: 2.6rem;
    line-height: 1.4;
  }

  .videos-container {
    gap: 10.5rem;
  }

  iframe {
    min-width: 520px !important;
    max-width: 520px !important;
  }

  .footer-img img {
    width: 7.4rem;
    height: 7.4rem;
  }

  .footer-text {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 2200px) and (max-width: 2250px) {
  #dropdown-menu {
    left: 165rem;
  }
}

@media only screen and (min-width: 2251px) {
  ul .hidden-links {
    display: flex;
    gap: 3.6rem;
    list-style: none;
  }

  .about-link {
    display: none;
  }
}
